.ml-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ml-list {
    margin-top: 5px;
}

.ml-list table {
    margin: auto;
    width: 95%;
    text-align: center;
    border-spacing: 0;
    border: 1px solid #555;
    font-size: 0.9em;
}

.ml-list thead th {
    text-align: center;
    background-color: #0088D2;
    color: white;
}

.ml-list td,
.ml-list th {
    border: 1px solid #222;
    height: 25px;
    line-height: 20px;
    cursor: default;
}

.ml-list table tr.selected {
    background-color: #E5AD40;
    color: white;
}

.ml-list caption {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.ml-list-title {
    position: absolute;
    width: 95%;
    left: 2.5%;
    font-weight: bold;
    font-size: 1.1em;
    color: #0088D2;
    text-align: center;
    line-height: 40px;
}

.ml-list-actions .md-button {
    margin: 0px;
}

.md-button:not([disabled]).green md-icon{
    color: green;
}

.ml-list-actions .md-button:not([disabled]).yellow md-icon{
    color: yellowgreen;
}

.ml-list-actions .md-button:not([disabled]).red md-icon{
    color: red;
}

.ml-editor-template md-select {
    display: inline-block;
    min-width: 300px;
}

.ml-editor-template md-select span {
    color: gray;
}

.ml-editor-template md-progress-circular {
    display: inline-block;
    vertical-align: bottom;;
}

.ml-editor-template md-input-container {
    margin-bottom: 5px;
    width: 100%;
}

.ml-editor-template label {
    color: gray;
}

.ml-editor-template .radio p {
    color: gray;
    margin-bottom: 20px;
    margin-top: 10px;
}

md-dialog .md-dialog-content {
    margin-top: 30px;
    min-width: 600px;
    padding: 0 24px 24px;
}

md-checkbox .md-label {
    line-height: 20px;
}